[Desktop Entry]
Comment=A fullscreen overlay UI for GPU Screen Recorder in the style of ShadowPlay.
Exec=gsr-ui
GenericName=Shadow Play-like screen recorder
Icon=/home/helen/.local/share/applications/icons/gpu-screen-recorder.png
Name=GPU Screen Recorder UI
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
